:root {
    --primary-color: #3498db;
    --background-color: #f4f4f4;
    --text-color: #333;
}

* {
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--text-color);
}

#app-container {
    display: flex;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#table-header, #table-row {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#table-header-item, #row-item {
    padding: 5px;
    border: 1px solid black;
}

td, th {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
}

#add-row {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
    min-width: 50px;
}
th {
    background-color: #e8f0fc;
}

#custom-input-form-container {
    flex-direction: column;
    display: flex;
    min-height: 500px;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 3px solid var(--primary-color);
}

h2 {
    color: var(--primary-color)
}

#input-fields-container {
    width: 100%;
    display: flex;
    justify-content: start;
}

#input-fields    {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-items:end;
}

#custom-form-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#custom-form-btn{
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
}


#name-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#types-container {
    display: inline-block;
}

#select-edit{
    display: flex;
    flex-direction: column;
    margin-right: 10px
}

#choice-input-container{
    display: flex;
    flex-direction: row;
}

#select-choices{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#add-field-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.select-field-container {
    display: flex;
    flex-direction: row;
}

.selector-container {
    width: 188px;
    margin-left: 5px;

}

button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-size: large;
}

input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 5px;
}

.small-btn{
    padding: 2px 8px;
    margin-left: 5px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}